@using System.Reflection
@using Grpc.Net.Client
@using Microsoft.AspNetCore.Components.WebAssembly.Services
@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Logging
@using System.Runtime.Loader
@using Microsoft.Extensions.Options
@using System.Buffers
@using XTC.FMP.LIB.MVCS
@inject LazyAssemblyLoader assemblyLoader_
@inject Logger logger_
@inject RuntimeScalingManager scalingMgr_
@inject Framework framework_
@inject ModuleRouter moduleRouter_
@inject IConfiguration configuration_
@inject NavigationManager navigationMgr_

<Router AppAssembly="@typeof(Program).Assembly"
        AdditionalAssemblies="@lazyLoadedAssemblies"
        OnNavigateAsync="@OnNavigateAsync">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(BasicLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(BasicLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
<AntContainer />

@code {
    private List<Assembly> lazyLoadedAssemblies = new();
    private List<string> lazyLoadedPath = new();
    private List<Type> dependencies = new();


    private async Task OnNavigateAsync(NavigationContext args)
    {
        string path = args.Path;
        if (lazyLoadedPath.Contains(path))
            return;

        if (dependencies.Count == 0)
        {
            loadDependencies();
        }

        try
        {
            lazyLoadedAssemblies.AddRange(await moduleRouter_.Route(path, scalingMgr_, framework_, logger_));
            lazyLoadedPath.Add(path);
        }
        catch (Exception ex)
        {
            logger_.Error(ex.Message);
            logger_.Exception(ex);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var section = configuration_.GetSection("RuntimeScaling");
        var scalingSettings = new RuntimeScalingSettings();
        scalingSettings.Active = section.GetValue<bool>("Active");
        scalingSettings.Repository = section.GetValue<string>("Repository");
        scalingSettings.Environment = section.GetValue<string>("Environment");
        scalingSettings.Grpc = section.GetValue<string>("Grpc");
        scalingMgr_.settings = scalingSettings;
        scalingMgr_.SetRepositoryHttpClient(new Uri(scalingSettings.Repository));


        // ¡Ÿ ±
        var query = new Uri(navigationMgr_?.Uri ?? "").Query;
        var vals = query.Replace("?", "").Split("&");
        var permission = "";
        foreach (var val in vals)
        {
            if (val.Contains("permissions="))
            {
                permission = val.Replace("permissions=", "");
            }
        }
        if (!string.IsNullOrWhiteSpace(permission))
        {
            var permissions = await scalingMgr_.internalClient.GetFromJsonAsync<string[]>("data/permissions_" + permission + ".json");
            var permissionMap = new Dictionary<string, string>();
            foreach (var p in permissions)
            {
                permissionMap[p] = "";
            }
            moduleRouter_.UpdatePermissionS(permissionMap);
        }
    }

    private void loadDependencies()
    {
        dependencies.Add(typeof(InputFile));
        dependencies.Add(typeof(IBrowserFile));
        dependencies.Add(typeof(IBufferWriter<string>));
    }
}